## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
file_to_load ="C:\\Users\\alice\\Desktop\\BootCamp_DataAnaysis\\Practice_and_Challenge\\WeatherPy\\Vacation_Search\\WeatherPy_vacation.csv"

# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

vacation_df=pd.read_csv(file_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Grand Gaube,MU,77.00,overcast clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
1,10,Acaraú,BR,75.92,few clouds,-2.8856,-40.1200,castelo pizzaria
2,13,Bontang,ID,86.27,broken clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
3,14,Arraial do Cabo,BR,73.11,clear sky,-22.9661,-42.0278,Pousada Porto Praia
4,16,Vaini,TO,82.40,light rain,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
# hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
# locations = clean_hotel_df[["Lat", "Lng"]]
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] =="Ixtapa"]
vacation_end = vacation_df.loc[vacation_df["City"] =="Ixtapa"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] =="Coahuayana Viejo"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] =="Lázaro Cárdenas"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Acapulco de Juárez"]

In [6]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
199,624,Lázaro Cárdenas,MX,75.15,overcast clouds,17.9583,-102.2,Hotel Quinta Antigua

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [12]:
start
end
stop1
stop2
stop3

(18.7333, -103.6833)

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

direction = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode="DRIVING")

fig.add_layer(direction)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,221,Ixtapa,MX,77.00,scattered clouds,20.7000,-105.2000,Hotel Plaza Providencia
1,221,Ixtapa,MX,77.00,scattered clouds,20.7000,-105.2000,Hotel Plaza Providencia
2,644,Coahuayana Viejo,MX,70.70,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
3,624,Lázaro Cárdenas,MX,75.15,overcast clouds,17.9583,-102.2000,Hotel Quinta Antigua
4,78,Acapulco de Juárez,MX,79.18,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
locations

       Lat       Lng
0  20.7000 -105.2000
1  20.7000 -105.2000
2  18.7333 -103.6833
3  17.9583 -102.2000
4  16.8634  -99.8901

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))